<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>register</h2><br>
    <div class="login">
    <form action="/register" method="post">
        <label><b>User Name
        </b>
        </label>
        <input required type="text" name="username" id="Uname" placeholder="Username">
        <br><br>
        <label><b>email
        </b>
        <br>
        </label>
        <input required type="email" name="email" id="Uname" placeholder="email">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input required type="Password" name="password" id="Pass" placeholder="Password">
        <br><br>
        <input type="submit" name="log" id="log" value="Register In Here">
    </form>
    <a class="PageBtn" href="/login">Login Here</a>
</div>
</body>
</html>